.recent {
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;

    .see-more-link {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #f25c2a;
    }
  }
}
