.recent {
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;

    .see-more-link {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #f25c2a;
    }
  }

  .podcast-overall {
    overflow-x: auto;

    .podcast-list {
      display: flex;
      gap: 19px;
      min-width: fit-content;

      @media only screen and (min-width: 1480px) {
        gap: 29px;
      }
    }
  }
}
